.link-list {
  overflow: hidden scroll;
  padding: 16px 0 0 16px;

  &__container {
    overflow: hidden scroll;
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.new-link-btn {
  background: linear-gradient(
    225deg,
    rgba(68, 215, 182, 1) 0%,
    rgba(0, 145, 255, 1) 100%
  );
  width: 56px;
  height: 56px;
  position: fixed;
  right: 48px;
  bottom: 48px;
  border-radius: 28px;
  &:hover {
    background: linear-gradient(
      225deg,
      rgba(68, 215, 182, 0.75) 0%,
      rgba(0, 145, 255, 0.75) 100%
    );
  }
}

.newlink-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  &__inner {
    background: #fff;
    width: 560px;
    margin: 0 auto;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
  }
}

.tag-display {
  display: flex;
  min-height: 44px;

  &__taglist {
    display: flex;
    flex: 1 0;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 24px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-right: 8px;
    & > .tag {
      height: 32px;
      padding: 4px 8px;
      font-size: 0.8rem;
    }
  }
  &__reset-btn {
    flex: 0 1;
  }
}
