.navbar {
  display: flex;
  padding: 16px;
  align-items: center;
  &__sidebar-btn {
    flex: 0 1;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 16px;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
  &__directory-title {
    flex: 1 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
