.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  background: #f4f4f4;
  transition: width 200ms ease-in 0s;
  max-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  &__navbar {
    & > .fold-btn {
      flex: 0;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      &:hover {
        background: #e3e3e3;
      }
    }
  }
  &__directory {
    overflow: hidden auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.user-btn {
  flex: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background: #e3e3e3;
  }
  &__img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 4px;
    & > img {
      height: 32px;
    }
  }
}

.title-container {
  cursor: pointer;
}

.message-item {
  display: flex;
  & > .content {
    flex: 1;

    & > .description {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
