.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 99;
  background: #fff;
  width: 240px;
  transition: width 300ms ease-in 0s;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.directory-list {
  & .title-container {
    cursor: pointer;
  }
  & button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    &:hover {
      background: #cecece;
    }
  }
}
