.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 99;
  background: #f4f4f4;
  transition: width 200ms ease-in 0s;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__navbar {
    & > .fold-btn {
      flex: 0;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      &:hover {
        background: #e3e3e3;
      }
    }
  }
}

.user-btn {
  flex: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background: #e3e3e3;
  }
  &__img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: red;
    margin-right: 4px;
  }
}

.directory {
  overflow: hidden auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &__type {
    font-size: 0.8rem;
    font-weight: bold;
    color: #a0a3a5;
    padding: 4px 8px;
    display: flex;
    & > div {
      flex: 1 0;
      padding: 8px;
    }
    & > button {
      flex: 0 1;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      &:hover {
        background: #e3e3e3;
      }
    }
  }

  & __list {
    & button {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      &:hover {
        background: #cecece;
      }
    }
  }
}

.title-container {
  cursor: pointer;
}
